/* styles.css */
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container p {
    font-weight: bold;
    margin-bottom: 10px;
}

.table {
    border-collapse: collapse;
    margin: 10px;
    width: 100%;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.table th:first-child,
.table td:first-child {
    border-left: 2px solid #ddd;
}

.table th:last-child,
.table td:last-child {
    border-right: 2px solid #ddd;
}

/* styles.css */
.input-cell input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 4px 0;
    transition: border-color 0.3s ease-in-out; /* Анимация цвета границы при фокусе */
}

.input-cell input:focus {
    outline: none; /* Убираем стандартное подчеркивание при фокусе */
    border-color: #4caf50; /* Цвет границы при фокусе */
}

/* Добавим стиль для всей строки, чтобы убрать границы для пустой ячейки */
.input-cell:first-child input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-cell:last-child input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.submit-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.centered-tables {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    margin-top: 100px;
}

.table-container:last-child .table {
    width: 100%; /* Set the width of the second table to 100% */
}

.input-cell {
    position: relative;
}

.delete-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px; /* Adjust this value for spacing */
}

.centered-tables {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("/src/participant/1.png");
}

.text-center {
    text-align: center;
}


.text-center {
    text-align: center;
    font-weight: bold;
}

.input-text {
    width: 100px;
    padding: 8px;
    border: 1px solid #ccc; /* Цвет рамки */
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 10px 20px; /* Отступы вокруг текста */
    font-size: 16px; /* Размер текста */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругляем углы */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавное изменение цвета фона при наведении */
}

button:hover {
    background-color: #d3863a; /* Цвет фона при наведении */
}